# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE Diretories
.idea/
.vscode/

# Analysis results
results/

# Binaries
tradra

# Local workspace directory (Go >= 1.1)
/vendor/

# Go workspace file
go.work
go.work.sum
.DS_Store